{% extends parent_template|default:"user/base_user.html" %}
{% load bootstrap %}
{% block title %}
{{ block.super }} - Reset Password 
{% endblock %}

{% block content %}
 <div class="container">
  {# checks if uidb36 and token are valid #}
  {% if validlink %} 
    <p> Enter a new password below.</p>
    <form action="{{ request.path }}"
        method="post">
    {% csrf token %}
    {{ form|bootstrap }}
    <button class="button-primary"
        type="submit">
      Save New Password</button>
    </form>
  {% else %}
    <p> This reset link is no longer valid.</p>
    <p> Please request a new reset mail. </p>
     <a href="{% url 'dj-auth:pw_reset_start' %}">
      here. </a></p>
  {% endif %}
 </div>
{% endblock %}
